<?xml version="1.0" encoding="utf-8"?>
<!-- Sólo flavor dev: cleartext restringido a loopback/emulador vía network
     security config (FakeGateway en el host); mama exige HTTPS. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application android:networkSecurityConfig="@xml/network_security_config" />
</manifest>
